/* CSS RESET */

@font-face {
    font-family: 'poori';
    src: url(fonts/BYekan.woff) format('woff');
}

@font-face {
    font-family: 'bardi';
    src: url(fonts/YekanWeb-Regular.woff) format('woff');
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    margin: 0 auto;
    position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

body {
    background: #fdfdfd;
    font-family: 'poori';
    direction: rtl;
}

a {
    text-decoration: none!important;
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
}

li {
    list-style: none;
}

 :focus {
    outline: none;
}


/*  */


/*
start 
 */


/*  */

#main {
    width: 100%;
    height: auto;
}


/* header */

.header-nav {
    width: 100%;
    background: #fdfdfd;
}


/* search box */

.header-nav .search {
    width: 350px;
    height: auto;
    float: left;
    margin-left: 80px;
    margin-top: 28px;
}

.header-nav .search .form-outline {
    width: 220px;
    direction: rtl;
    margin: 0 0 0 3px;
    float: left;
    padding: 5px;
    background: #094d84;
    border: 3.5px solid #2980B9;
    border-radius: 13px;
}

.header-nav .search .form-outline input {
    width: 150px;
    height: 20px;
    background: none;
    font: 12px 'poori', Tahoma;
    text-align: right;
    margin-top: 3px;
    direction: rtl;
    padding: 0 7px;
    border: none;
    color: #fdfdfd;
    right: -100;
}

.header-nav .search button {
    float: left;
    color: #BDC3C7;
    background: none;
    border: none;
    margin-top: 2px;
}

.header-nav .search:hover button {
    background: #094d84;
    color: #fdfdfd;
    transition: .4s;
    border: none;
}


/* right-header */

.header-nav .right-header {
    width: 40%;
    float: right;
    height: 100%;
    margin: 0 30px 0 0;
}

.header-nav .right-header .hvr-float-shadow {
    width: 60px;
    float: right;
    color: #34495E;
    font: 15px #34495E 'poori', tahoma;
    margin: 18px 15px 0 0;
}

.header-nav .right-header .hvr-float-shadow img {
    width: 34px;
    height: 34px;
    margin: 0 10px;
    object-fit: cover;
}

.header-nav .right-header .hvr-float-shadow h6 {
    text-align: center;
    margin: 10px -3px 0 0;
    font: 14px #34495E 'bardi', tahoma;
    font-size: 14px;
}

.header-nav .right-header .hvr-float-shadow:last-child .fa {
    color: #2980B9;
}

.header-nav .right-header .hvr-float-shadow:hover {
    color: #2C3E50;
}


/* logo */

.header-nav .logo {
    width: 170px;
    height: 100px;
    margin: 0 auto;
}

.header-nav .logo img {
    width: 170px;
    height: 110px;
}


/* swiper */


/* swiper */


/* swiper */

.all {
    height: 330px;
    position: relative;
}

.slider {
    width: 100%;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #dcebf1;
}

.swiper-container {
    width: 92%;
    height: 370px;
    margin-top: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 10px;
    padding: 70px 0 !important;
}

.swiper-slide img {
    width: 90%;
    height: 70%;
    border-radius: 7px;
    opacity: 0.6;
    object-fit: fill;
    position: absolute;
    margin-top: -90px;
}


/* 
.swiper-slide .swiper-slide-active {
    opacity: 1;
} */

.swiper-slide:hover img {
    opacity: 1;
    transform: scale(1.02);
    transition: .3s;
}

.swiper-slide .playtrailer {
    color: #fdfdfd;
    position: absolute;
    text-decoration: none;
    border: 2px solid #fdfdfd;
    background-color: rgba(56, 52, 56, 0.479);
    padding: 8px 10px;
    border-radius: 20px;
    margin-bottom: 70px;
}

.swiper-slide .playtrailer .fa {
    margin-left: 4px;
    margin-top: 2px;
}

.swiper-slide .playtrailer:hover {
    color: rgba(8, 7, 7, 0.418);
    background: #fdfdfd;
    border: 2px solid rgba(8, 7, 7, 0.418);
    transition: .5s;
}

.swiper-slide .details {
    width: 100%;
    height: 50px;
    color: #161010;
    direction: rtl;
    position: absolute;
    top: 80%;
    background: none;
    float: right;
}

.swiper-slide .details h1 {
    width: 100%;
    text-align: center;
    font: 12px 'bardi', Tahoma;
    overflow: visible;
}

.swiper-slide .details h6 {
    width: 31%;
    text-align: center;
    font: 12px 'bardi', Tahoma;
    direction: rtl;
    float: right;
    margin-right: 65px;
}

.swiper-slide .details h7 {
    width: 10%;
    float: right;
    font: 11px 'bardi', Tahoma;
    direction: rtl;
}


/*
 .swiper-slide .details h2 {
     width: 40%;
     text-align: right;
     font: 12px 'bardi', Tahoma;
     border-bottom: 1px solid #2e2525;
     line-height: 2;
     margin: 2px 5px;
 }
 
 .swiper-slide .details ul {
     width: 93%;
     height: 40%;
     color: #1b1616;
     padding: 0;
     direction: rtl;
     text-align: right;
     border-bottom: .5px solid rgba(5, 4, 4, 0.527);
     margin-right: 5px;
 }
 
 .swiper-slide .details ul li {
     width: 99%;
     float: right;
     font: 10px 'bardi', Tahoma;
     margin: 3px 2px;
 }
 
 .swiper-slide .details li a .fa {
     color: #7F8C8D;
     margin: 3px 0 0 5px;
 }
 
 .swiper-slide .details li a {
     color: #1b1616;
 }
 
 .swiper-slide .details .seccond-details {
     width: 41%;
     height: 40%;
     color: #1b1616;
     padding: 0;
     direction: rtl;
     float: right;
     margin-top: 8px;
     margin-right: 10px;
 }
 
 .swiper-slide .details #discription.seccond-details {
     width: 50%;
     margin: 10px 3px !important;
 }
 
 .swiper-slide .details #discription.seccond-details p {
     font: 10px tahoma;
     direction: rtl;
     letter-spacing: 1;
 }
 
 .swiper-slide .details #discription.seccond-details a {
     font: 10px tahoma;
 }
 
 .swiper-slide .details #discription.seccond-details a .fa {
     color: #7F8C8D;
     margin: 10px 0 0 5px;
 }
 
 .swiper-slide .details .seccond_header-details {
     width: 99%;
     height: 20px;
     float: right;
     line-height: 2;
 }
 
 .swiper-slide .details .seccond_header-details h2 {
     width: 35%;
     float: right;
     border-bottom: 1px solid #2e2525;
     font: 12px 'bardi', Tahoma;
     margin-right: 15px;
     line-height: 2;
 }
 
 .swiper-slide .details .seccond_header-details h3 {
     width: 40%;
     float: right;
     border-bottom: 1px solid #2e2525;
     font: 10.5px 'bardi', Tahoma;
     margin-right: 12px;
     margin-top: 4px;
     line-height: 2;
 }
 
 .swiper-slide:hover .details {
     width: 100%;
     top: 0;
     height: 300px;
     transform: scale(1.02);
     transition: .9s;
     right: 230px;
     border-radius: 10px;
 }
  */

.swiper-button-next {
    color: #3498DB;
}

.swiper-button-prev {
    color: #3498DB;
    margin-bottom: 50px;
    margin-right: 215px;
}

.swiper-button-next:hover {
    color: #fdfdfd;
    transition: .5s;
}

.swiper-button-prev:hover {
    color: #fdfdfd;
    transition: .5s;
}


/* shopping */

.shopping {
    width: 100%;
    height: 150px;
    background: #dcebf1;
    margin: 60px 0 100px 0;
}

.shopping ul {
    width: 100%;
    height: 100%;
    float: right;
}

.shopping ul .shpping_li {
    width: 24%;
    height: 90%;
    float: right;
}

.shopping ul .shpping_li a {
    width: 70%;
    height: 80%;
    float: right;
    margin: 27px 80px 0 0;
}

.shopping ul .shpping_li img {
    width: 90px;
    height: 90px;
    float: right;
}

.shopping ul .shpping_li a h1 {
    width: 50%;
    font: 14px 'bardi', Tahoma;
    float: right;
    color: #333;
    margin: 17px 10px 0 0;
}

.shopping ul .shpping_li a p {
    width: 40%;
    font: 10px 'bardi', Tahoma;
    float: right;
    color: #333;
    margin-right: 10px;
}


/*     background: #094d84; */