 /* CSS RESET */
 
 @font-face {
     font-family: 'poori';
     src: url(fonts/BYekan.woff) format('woff');
 }
 
 @font-face {
     font-family: 'bardi';
     src: url(fonts/YekanWeb-Regular.woff) format('woff');
 }
 
 html,
 body,
 div,
 span,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 abbr,
 address,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 samp,
 small,
 strong,
 sub,
 sup,
 var,
 b,
 i,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section,
 summary,
 time,
 mark,
 audio,
 video {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     vertical-align: baseline;
     background: transparent;
 }
 
 body {
     line-height: 1;
     margin: 0 auto;
 }
 
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
     display: block;
 }
 
 nav ul {
     list-style: none;
 }
 
 blockquote,
 q {
     quotes: none;
 }
 
 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
     content: '';
     content: none;
 }
 
 a {
     margin: 0;
     padding: 0;
     font-size: 100%;
     vertical-align: baseline;
     background: transparent;
 }
 /* change colours to suit your needs */
 
 ins {
     background-color: #ff9;
     color: #000;
     text-decoration: none;
 }
 /* change colours to suit your needs */
 
 mark {
     background-color: #ff9;
     color: #000;
     font-style: italic;
     font-weight: bold;
 }
 
 del {
     text-decoration: line-through;
 }
 
 abbr[title],
 dfn[title] {
     border-bottom: 1px dotted;
     cursor: help;
 }
 
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 /* change border colour to suit your needs */
 
 hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #cccccc;
     margin: 1em 0;
     padding: 0;
 }
 
 input,
 select {
     vertical-align: middle;
 }
 
 body {
     background: #fdfdfd;
     font-family: 'poori';
     direction: rtl;
 }
 
 a {
     text-decoration: none!important;
     transition: .2s ease-out;
     -webkit-transition: .2s ease-out;
     -moz-transition: .2s ease-out;
     -o-transition: .2s ease-out;
 }
 
 li {
     list-style: none;
 }
 
 :focus {
     outline: none;
 }
 /*  */
 /*
start 
 */
 /*  */
 
 #main {
     width: 100%;
     height: auto;
 }
 /* header */
 
 .header-nav {
     width: 100%;
     background: rgb(231, 231, 231);
 }
 /* search box */
 
 .header-nav .search {
     width: 250px;
     height: auto;
     float: left;
     margin-left: 80px;
     margin-top: 28px;
 }
 
 .header-nav .search button {
     float: left;
     color: #BDC3C7;
     padding: 9px 11px;
     background: #2980B9;
     border-radius: 10px;
 }
 
 .header-nav .search:hover button {
     background: #094d84;
     color: #cdd7e2;
     transition: .4s;
 }
 
 .header-nav .search:hover form {
     color: #2C3E50;
     transition: .4s;
 }
 
 .header-nav .search form {
     border-radius: 8px;
     direction: rtl;
     margin: 0 0 0 3px;
     float: left;
     padding: 7px 1px;
     background: #094d84;
     color: #ff9;
     border: .5px solid #094d84;
 }
 
 .header-nav .search form input {
     width: 200px;
     background: none;
     font: 12px 'poori', Tahoma;
     text-align: right;
     margin-top: 3px;
     direction: rtl;
     padding: 2px 7px;
     border: none;
     color: #fdfdfd;
 }
 
 ::placeholder {
     color: #fdfdfd;
     opacity: 1;
     /* Firefox */
 }
 /* right-header */
 
 .header-nav .right-header {
     width: 40%;
     float: right;
     height: 100%;
     margin: 0 30px 0 0;
     height: 500px;
 }
 
 .header-nav .right-header .hvr-float-shadow {
     width: 60px;
     float: right;
     color: #34495E;
     font: 15px #34495E 'poori', tahoma;
     margin: 18px 15px 0 0;
 }
 
 .header-nav .right-header .hvr-float-shadow img {
     width: 34px;
     height: 34px;
     margin: 0 10px;
     object-fit: cover;
 }
 
 .header-nav .right-header .hvr-float-shadow h6 {
     text-align: center;
     margin: 10px -3px 0 0;
     font: 14px #34495E 'bardi', tahoma;
     font-size: 14px;
 }
 
 .header-nav .right-header .hvr-float-shadow:last-child .fa {
     color: #2980B9;
 }
 
 .header-nav .right-header .hvr-float-shadow:hover {
     color: #2C3E50;
 }
 /* logo */
 
 .header-nav .logo {
     width: 170px;
     height: 100px;
     margin: 0 auto;
 }
 
 .header-nav .logo img {
     width: 170px;
     height: 110px;
 }