 /* CSS RESET */
 
 @font-face {
     font-family: 'poori';
     src: url(fonts/BYekan.woff) format('woff');
 }
 
 @font-face {
     font-family: 'bardi';
     src: url(fonts/YekanWeb-Regular.woff) format('woff');
 }
 
 html,
 body,
 div,
 span,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 abbr,
 address,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 samp,
 small,
 strong,
 sub,
 sup,
 var,
 b,
 i,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section,
 summary,
 time,
 mark,
 audio,
 video {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     vertical-align: baseline;
     background: transparent;
 }
 
 body {
     line-height: 1;
     margin: 0 auto;
 }
 
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
     display: block;
 }
 
 nav ul {
     list-style: none;
 }
 
 blockquote,
 q {
     quotes: none;
 }
 
 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
     content: '';
     content: none;
 }
 
 a {
     margin: 0;
     padding: 0;
     font-size: 100%;
     vertical-align: baseline;
     background: transparent;
 }
 /* change colours to suit your needs */
 
 ins {
     background-color: #ff9;
     color: #000;
     text-decoration: none;
 }
 /* change colours to suit your needs */
 
 mark {
     background-color: #ff9;
     color: #000;
     font-style: italic;
     font-weight: bold;
 }
 
 del {
     text-decoration: line-through;
 }
 
 abbr[title],
 dfn[title] {
     border-bottom: 1px dotted;
     cursor: help;
 }
 
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 /* change border colour to suit your needs */
 
 hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #cccccc;
     margin: 1em 0;
     padding: 0;
 }
 
 input,
 select {
     vertical-align: middle;
 }
 
 body {
     background: #fdfdfd;
     font-family: 'poori';
     direction: rtl;
 }
 
 a {
     text-decoration: none!important;
     transition: .2s ease-out;
     -webkit-transition: .2s ease-out;
     -moz-transition: .2s ease-out;
     -o-transition: .2s ease-out;
 }
 
 li {
     list-style: none;
 }
 
 :focus {
     outline: none;
 }
 /*  */
 /*
start 
 */
 /*  */
 
 #main {
     width: 100%;
     height: auto;
 }
 /* header */
 
 .header-nav {
     width: 100%;
     background: rgb(231, 231, 231);
 }
 /* search box */
 
 .header-nav .search {
     width: 250px;
     height: auto;
     float: left;
     margin-left: 80px;
     margin-top: 28px;
 }
 
 .header-nav .search button {
     float: left;
     color: #BDC3C7;
     padding: 9px 11px;
     background: #2980B9;
     border-radius: 10px;
 }
 
 .header-nav .search:hover button {
     background: #094d84;
     color: #cdd7e2;
     transition: .4s;
 }
 
 .header-nav .search form {
     border-radius: 8px;
     direction: rtl;
     margin: 0 0 0 3px;
     float: left;
     padding: 7px 1px;
     background: #094d84;
     border: .5px solid #094d84;
 }
 
 .header-nav .search form input {
     width: 200px;
     background: none;
     font: 12px 'poori', Tahoma;
     text-align: right;
     margin-top: 3px;
     direction: rtl;
     padding: 2px 7px;
     border: none;
     color: #f6f6f6;
 }
 
 ::placeholder {
     color: #BDC3C7;
     opacity: 1;
     /* Firefox */
 }
 
 .header-nav .search:hover form {
     color: #2C3E50;
     transition: .4s;
 }
 /* right-header */
 
 .header-nav .right-header {
     width: 40%;
     float: right;
     height: 100%;
     margin: 0 30px 0 0;
     height: 500px;
 }
 
 .header-nav .right-header .hvr-float-shadow {
     width: 60px;
     float: right;
     color: #34495E;
     font: 15px #34495E 'poori', tahoma;
     margin: 18px 15px 0 0;
 }
 
 .header-nav .right-header .hvr-float-shadow img {
     width: 34px;
     height: 34px;
     margin: 0 10px;
     object-fit: cover;
 }
 
 .header-nav .right-header .hvr-float-shadow h6 {
     text-align: center;
     margin: 10px -3px 0 0;
     font: 14px #34495E 'bardi', tahoma;
     font-size: 14px;
 }
 
 .header-nav .right-header .hvr-float-shadow:last-child .fa {
     color: #2980B9;
 }
 
 .header-nav .right-header .hvr-float-shadow:hover {
     color: #2C3E50;
 }
 /* logo */
 
 .header-nav .logo {
     width: 170px;
     height: 100px;
     margin: 0 auto;
 }
 
 .header-nav .logo img {
     width: 170px;
     height: 110px;
 }
 /* swiper */
 
 .swiper-container {
     width: 90%;
     height: 300px;
     margin-top: 50px;
 }
 
 .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;
     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
     border-radius: 15px;
 }
 
 .swiper-slide img {
     width: 100%;
     height: 100%;
     border-radius: 15px;
     position: absolute;
     opacity: 0.6;
     object-fit: fill;
 }
 
 .swiper-slide:hover img {
     opacity: 1;
     transform: scale(1.02);
     border-radius: 25px;
     transition: .7s;
 }
 
 .swiper-slide .playtrailer {
     color: #fdfdfd;
     position: absolute;
     text-decoration: none;
     border: 2px solid #fdfdfd;
     background-color: rgba(56, 52, 56, 0.479);
     padding: 8px 10px;
     border-radius: 200px;
 }
 
 .swiper-slide .playtrailer .fa {
     margin-left: 4px;
     margin-top: 2px;
 }
 
 .swiper-slide .playtrailer:hover {
     color: rgba(8, 7, 7, 0.418);
     background: #fdfdfd;
     border: 2px solid rgba(8, 7, 7, 0.418);
     transition: .5s;
 }
 
 .swiper-slide .details {
     width: 100%;
     height: 101%;
     color: #161010;
     direction: rtl;
     position: absolute;
     top: -115%;
     left: -219.5px;
     background: #fdfdfd;
     float: right;
 }
 
 .swiper-slide .details h1 {
     width: 100%;
     text-align: center;
     font: 12px 'bardi', Tahoma;
     margin-top: 10px;
 }
 
 .swiper-slide .details h2 {
     width: 40%;
     text-align: right;
     font: 12px 'bardi', Tahoma;
     border-bottom: 1px solid #2e2525;
     line-height: 2;
     margin: 2px 5px;
 }
 
 .swiper-slide .details ul {
     width: 93%;
     height: 40%;
     color: #1b1616;
     padding: 0;
     direction: rtl;
     text-align: right;
     border-bottom: .5px solid rgba(5, 4, 4, 0.527);
     margin-right: 5px;
 }
 
 .swiper-slide .details ul li {
     width: 99%;
     float: right;
     font: 10px 'bardi', Tahoma;
     margin: 3px 2px;
 }
 
 .swiper-slide .details li a .fa {
     color: #7F8C8D;
     margin: 3px 0 0 5px;
 }
 
 .swiper-slide .details li a {
     color: #1b1616;
 }
 
 .swiper-slide .details .seccond-details {
     width: 41%;
     height: 40%;
     color: #1b1616;
     padding: 0;
     direction: rtl;
     float: right;
     margin-top: 8px;
     margin-right: 10px;
 }
 
 .swiper-slide .details #discription.seccond-details {
     width: 50%;
     margin: 10px 3px !important;
 }
 
 .swiper-slide .details #discription.seccond-details p {
     font: 10px tahoma;
     direction: rtl;
     letter-spacing: 1;
 }
 
 .swiper-slide .details #discription.seccond-details a {
     font: 10px tahoma;
 }
 
 .swiper-slide .details #discription.seccond-details a .fa {
     color: #7F8C8D;
     margin: 10px 0 0 5px;
 }
 
 .swiper-slide .details .seccond_header-details {
     width: 99%;
     height: 20px;
     float: right;
     line-height: 2;
 }
 
 .swiper-slide .details .seccond_header-details h2 {
     width: 35%;
     float: right;
     border-bottom: 1px solid #2e2525;
     font: 12px 'bardi', Tahoma;
     margin-right: 15px;
     line-height: 2;
 }
 
 .swiper-slide .details .seccond_header-details h3 {
     width: 40%;
     float: right;
     border-bottom: 1px solid #2e2525;
     font: 10.5px 'bardi', Tahoma;
     margin-right: 12px;
     margin-top: 4px;
     line-height: 2;
 }
 /* .swiper-slide .details .third-details {
    width: 45%;
    float: left;
} */
 
 .swiper-slide:hover .details {
     width: 100%;
     top: 0;
     height: 300px;
     transform: scale(1.02);
     transition: .9s;
     right: 230px;
     border-radius: 10px;
 }
 
 .clear {
     clear: both;
 }
 
 .swiper-button-next {
     background: rgba(65, 61, 61, 0.315);
     padding: 11px 17px 11px 21px;
     border-radius: 50px;
     color: #fdfdfd;
     border: 2px solid #fdfdfd;
 }
 
 .swiper-button-prev {
     background: rgba(65, 61, 61, 0.315);
     padding: 11px 21px 11px 17px;
     border-radius: 50px;
     color: #fdfdfd;
     border: 2px solid #fdfdfd;
 }
 
 .swiper-button-next:hover {
     background: #fdfdfd;
     color: #c99393;
     border: 2px solid #c99393;
     transition: .5s;
 }
 
 .swiper-button-prev:hover {
     background: #fdfdfd;
     color: #c99393;
     border: 2px solid #c99393;
     transition: .5s;
 }